<!DOCTYPE html>
<html>
<%- include('head') %>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  <header class="main-header">
    <a href="#" class="logo">
        <span class="logo-mini"><b>Acs</b></span>
        <span class="logo-lg"><b>Axces</b></span>
    </a>
    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="<%= user.image_thumb_path %>" class="user-image" alt="User Image">
                <span class="hidden-xs"><strong><%= user.name %></strong></span>
              </a>
              <ul class="dropdown-menu">
                <li class="user-header">
                  <img src="<%= user.image_thumb_path %>" class="img-circle" alt="User Image">
                  <p><%= user.name %></p>
                </li>
                <li class="user-footer">
                  <div class="pull-left">
                    <a class="btn btn-flat main-btn" href="../profile">Profile</a>
                  </div>
                  <div class="pull-right">
                    <a class="btn btn-flat main-btn" href="../logout">Logout</a>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
  </header>
  <%- include('sidebar') %>
